<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Bootstrap CSS -->
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <title>URL - TinyApp Example</title>
  </head>
  <body>
    <header><%- include('partials/_header'); %></header>
    <main style="margin: 1em;">
      <% if (message === "loggedOut") {%>
        <div class="alert alert-warning" role="alert">
          Individaul TinyURL pages only visible to logged in users. Please <a href="/login">Login</a> or <a href="/registration">Register</a>.
        </div>
      <% } else if (message === "notBelong") {%>
        <div class="alert alert-warning" role="alert">
          This TinyURL does not belong to you. You can <a href="/urls">view all your TinyURLs</a> or <a href="/urls/new">create a new one</a>.
        </div>
      <% } else { %>
       <% if (message === "edited") {%>
        <div class="alert alert-success" role="alert">
          This TinyURL has been edited to redirect to <%= longURL %>!
        </div>
        <% } %>
        <div class="card text-center" >
          <div class="card-header"></div>
          <div class="card-body">
            <h5 class="card-title">TinyURL for: <%= longURL %>  <button class="btn btn-outline-dark btn-sm" type="button" data-toggle="collapse" data-target="#edit-area" aria-expanded="false" aria-controls="collapseExample">
              <i class="bi bi-pencil-fill"></i> Edit URL
            </button></h5>
            <p class="card-text">
              Short URL ID: <a href="/u/<%= id %>"><%= id %></a>
            </p>
          </div>
          <div class="card-footer text-muted">
            <form class="collapse" id="edit-area"  action="/urls/<%= id %>/edit" method="POST">
              <div class="form-group">
                <div class="d-inline-flex justify-content-center align-items-center">
                  <div class="p-2 bd-highlight">
                    <label for="longURL">Edit URL:</label>
                  </div>
                  <div class="p-2 bd-highlight">
                    <input
                      class="form-control"
                      type="text"
                      name="longURL"
                      value= "<%= longURL %>"
                      style="width: 300px"/>
                  </div>
                  <div class="p-2 bd-highlight">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      <% } %>
   <!-- Bootstrap JS -->
   <script
   src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
   integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
   crossorigin="anonymous"
 ></script>
 <script
   src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
   integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
   crossorigin="anonymous"
 ></script>
 <script
   src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
   integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
   crossorigin="anonymous"
 ></script>
  </body>
</html>
